@import "tailwindcss";

:root {
  --primary-color: #001A50;  /* Deep Purple (Main theme color) */
  --secondary-color: #ffffff; /* White (Used for text and backgrounds) */
  --accent-color: #004CE8;  /* Bright Purple (Used for buttons and highlights) */
  --text-color: #1C1C1C;  /* Black (Used for general text) */
  --border-color: #D8D8D8; /* Light Gray (Used for borders and dividers) */
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
}
